<?xml version="1.0" encoding="utf-8"?>
<!-- 
 * Funf: Open Sensing Framework
 * Copyright (C) 2010-2011 Nadav Aharony, Wei Pan, Alex Pentland. 
 * Acknowledgments: Alan Gardner
 * Contact: nadav@media.mit.edu
 * 
 * This file is part of Funf.
 * 
 * Funf is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as 
 * published by the Free Software Foundation, either version 3 of 
 * the License, or (at your option) any later version. 
 * 
 * Funf is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
 * See the GNU Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public 
 * License along with Funf. If not, see <http://www.gnu.org/licenses/>.
 -->
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.mit.media.funf.tests"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk  android:minSdkVersion="8" android:targetSdkVersion="17" />
    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases.  
         Also for discovering probes to clean. -->
    <application android:debuggable="true">
        <uses-library android:name="android.test.runner" />
        
        <service android:name="edu.mit.media.funf.FunfManager" >
            <meta-data android:name="default" android:value="@string/default_pipeline"/>
        </service>
        <receiver android:name="edu.mit.media.funf.Launcher" android:enabled="true">
        	<intent-filter>
        		<action android:name="android.intent.action.BATTERY_CHANGED" />
        		<action android:name="android.intent.action.BOOT_COMPLETED" />
        		<action android:name="android.intent.action.DOCK_EVENT" />
        		<action android:name="android.intent.action.ACTION_SCREEN_ON" />
        		<action android:name="android.intent.action.USER_PRESENT" />
        	</intent-filter>
 </receiver>
    </application>
    
    <!-- All probes -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <!-- Location probe, Cell probe -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
    
    <!-- Location probe -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>   
    
    
    <!-- Wifi and Hardware Info probes -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
    
     <!-- Wifi probe -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> 
    
    <!-- Bluetooth probe -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> 
    
    <!-- Bluetooth and Hardware Info probes -->
    <uses-permission android:name="android.permission.BLUETOOTH"/> 
    
    <!-- Running applications probe -->
    <uses-permission android:name="android.permission.GET_TASKS"/> 
    
    <!-- Browser probes -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    
    <!-- Call Log and Contact probes -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <!-- Backing up database to SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
    
    <!-- Backing up to the web -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!--  SMS Probe -->
    <uses-permission android:name="android.permission.READ_SMS" />
    
    <!-- Battery Probe -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    <!-- Hardware Info Probe -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!-- Accounts Probe -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    
    <!-- Audio Features Probe -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of edu.mit.media.funf.  To run the tests use the command:
    "adb shell am instrument -w edu.mit.media.funf.tests/android.test.InstrumentationTestRunner"
    -->
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="edu.mit.media.funf.tests"
                     android:label="Tests for edu.mit.media.funf"/>
</manifest>
