<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.mit.media.hd.funf.tests"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk  android:minSdkVersion="7" android:targetSdkVersion="8" />
    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases.  
         Also for discovering probes to clean. -->
    <application android:debuggable="true">
        <uses-library android:name="android.test.runner" />
    	<service android:name="edu.mit.media.hd.funf.probe.ProbeController"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.ActivityProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.AndroidInfoProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.ApplicationsProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.AudioFilesProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.BatteryProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.BluetoothProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.BrowserBookmarksProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.BrowserSearchesProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.CallLogProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.CellProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.ContactProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.HardwareInfoProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.ImagesProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.LocationProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.RunningApplicationsProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.ScreenProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.SMSProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.TelephonyProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.VideosProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.WifiProbe"></service>
        
        <service android:name="edu.mit.media.hd.funf.probe.builtin.AccelerometerSensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.GravitySensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.GyroscopeSensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.LightSensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.LinearAccelerationSensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.MagneticFieldSensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.OrientationSensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.PressureSensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.ProximitySensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.RotationVectorSensorProbe"></service>
        <service android:name="edu.mit.media.hd.funf.probe.builtin.TemperatureSensorProbe"></service>
        
        <service android:name="edu.mit.media.hd.funf.configured.ConfiguredDatabaseService"></service>
        <service android:name="edu.mit.media.hd.funf.configured.ConfiguredArchiverService"></service>
        <service android:name="edu.mit.media.hd.funf.configured.ConfiguredRemoteArchiverService"></service>
    </application>
    
    <!-- All probes -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <!-- Location probe, Cell probe -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
    
    <!-- Location probe -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>   
    
    
    <!-- Wifi and Hardware Info probes -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
    
     <!-- Wifi probe -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> 
    
    <!-- Bluetooth probe -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> 
    
    <!-- Bluetooth and Hardware Info probes -->
    <uses-permission android:name="android.permission.BLUETOOTH"/> 
    
    <!-- Running applications probe -->
    <uses-permission android:name="android.permission.GET_TASKS"/> 
    
    <!-- Browser probes -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    
    <!-- Call Log and Contact probes -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <!-- Backing up database to SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
    
    <!-- Backing up to the web -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!--  SMS Probe -->
    <uses-permission android:name="android.permission.READ_SMS" />
    
    <!-- Battery Probe -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    <!-- Hardware Info Probe -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of edu.mit.media.hd.funf.  To run the tests use the command:
    "adb shell am instrument -w edu.mit.media.hd.funf.tests/android.test.InstrumentationTestRunner"
    -->
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="edu.mit.media.hd.funf.tests"
                     android:label="Tests for edu.mit.media.hd.funf"/>
</manifest>
